/* AboutUs.module.css */

.aboutContainer {
  font-family: 'Courier New', Courier, monospace;
  color: #4f4f4f;
}

/* Hero-sektion */
.heroSection {
  background-color: #FFEBCC; /* Ljus persika för en mjuk känsla */
  padding: 6rem 2rem;
  text-align: center;
  color: #4f4f4f;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid #FFDAB3;
}

.heroTitle {
  font-size: 3.5rem;
  color: #FF7E5F;
}

.heroText {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #4f4f4f;
}

/* Historien-sektion */
.historySection {
  padding: 3rem 2rem;
  background-color: #FFF3E0;
  text-align: center;
}

.sectionTitle {
  font-size: 2.5rem;
  color: #4f4f4f;
  margin-bottom: 1rem;
}

.historyText {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

/* Team-sektion */
.teamSection {
  padding: 3rem 2rem;
  background-color: #FFEBCC;
  text-align: center;
}

.teamMembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
